.units.pc-hobo .img {
  background-image: url("../img/units/hobo.png");
}
.units.pc-hitman .img {
  background-image: url("../img/units/hitman.png");
}
.units.pc-bouncer .img {
  background-image: url("../img/units/bouncer.png");
}
.units.pc-big_mama .img {
  background-image: url("../img/units/big_mama.png");
}
.units.pc-mercenary .img {
  background-image: url("../img/units/mercenary.png");
}
.units.pc-sniper .img {
  background-image: url("../img/units/sniper.png");
}
.units.pc-spy .img {
  background-image: url("../img/units/spy.png");
}